.form-wrap {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.placeholder {
  color: #fff;
  background-color: rgb(185, 13, 13);
}
.signup {
  background-color: coral;
  padding: 5px 15px;
  border-radius: 10px;
  height: 30px;
  margin-top: 50px;
}
